@using MajorTest.Models

@model IEnumerable<Order>

@{
	ViewBag.Title = "Все заявки";
}

<form asp-controller="Orders" asp-action="Index" method="get">
	<p>
		Слово: <input type="text" name="searchString" />
		<input type="submit" value="Найти" />
	</p>
</form>

<p id="addNew"><a asp-action="Create">Добавить новую заявку</a></p>
<table class="centered">
	<tr><th>Статус заявки</th>
		<th>Время встречи</th>
		<th>Место встречи</th>
		<th>Адресат</th>
		<th>Описание груза</th>
		<th>Масса груза (кг)</th>
		<th>Длина груза (см)</th>
		<th>Ширина груза (см)</th>
		<th>Высота груза (см)</th>
		<th>ФИО отправителя</th>
		<th>Контактный номер отправителя</th>
		<th>ФИО получателя</th>
		<th>Контактный номер получателя</th>
	</tr>
	@foreach (var item in Model)
	{
		<tr>
			<td>@item.Status</td>
			<td>@item.MeetingTime</td>
			<td>@item.MeetingPlace</td>
			<td>@item.TargetAddress</td>
			<td>@item.Item.Description</td>
			<td>@item.Item.Weight</td>
			<td>@item.Item.Length</td>
			<td>@item.Item.Width</td>
			<td>@item.Item.Height</td>
			<td>@item.ItemSender.FirstName @item.ItemSender.SecondName @item.ItemSender.LastName</td>
			<td>@item.ItemSender.PhoneNumber</td>
			<td>@item.ItemReceiver.FirstName @item.ItemReceiver.SecondName @item.ItemReceiver.LastName</td>
			<td>@item.ItemReceiver.PhoneNumber</td>
			<td>
				<a asp-action="Edit" asp-controller="Orders" asp-route-id="@item.Id">Редактировать</a>
			</td>
			<td>
				<form asp-controller="Orders" asp-action="Delete" method="post" asp-route-id="@item.Id">
					<input type="submit" value="Удалить" />
				</form>
			</td>
		</tr>
	}
</table>